@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@font-face {
  font-family: "Moniqa-light-contained-heading";
  src: url("./Fonts/Moniqa-LightCondensedHeading.otf");
}

@font-face {
  font-family: "Moniqa-bold-condensed-display";
  src: url("./Fonts/Moniqa-BoldCondensedDisplay.otf");
}

.font-moniqa-light-condensed-heading {
  font-family: "Moniqa-light-contained-heading", sans-serif;
}

.font-moniqa-bold-condensed-display {
  font-family: "Moniqa-bold-condensed-display", sans-serif;
}

body {
  font-family: "Libre Franklin", sans-serif;
}
